engine-strict=true
shamefully-hoist=true
use-node-version=24.14.0
pnpm.onlyBuiltDependencies[]=@biomejs/biome
pnpm.onlyBuiltDependencies[]=@nestjs/core
pnpm.onlyBuiltDependencies[]=@parcel/watcher
pnpm.onlyBuiltDependencies[]=@swc/core
pnpm.onlyBuiltDependencies[]=core-js
pnpm.onlyBuiltDependencies[]=esbuild
pnpm.onlyBuiltDependencies[]=msgpackr-extract
pnpm.onlyBuiltDependencies[]=nx
pnpm.onlyBuiltDependencies[]=sharp
pnpm.onlyBuiltDependencies[]=sqlite3
pnpm.onlyBuiltDependencies[]=vue-demi
